.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin{style:"background-color:red;"}
	=grid xs:10,sm:8,md:6,lg:4 do
		.big-padding.blue.text-left.white-text
		%h1.no-margin.bold.light-blue.nomargin loles
		%p.no-margin Conecta con otros alumons de cecyte
		.to-space
		login
		.large-padding.text-center
		=link_to "crear cuenta",new_user_registration_path 
